*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    padding-bottom: 0;
}
a.btn{
    text-decoration: none;
}
.btn-primary{
    background: #3E6FB7!important;
    font-weight: bold;
}
.auth_wrapper{
    background: #1E8182;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.form_box{
    width: 25%;
    margin: 0 auto;
    background: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.form_heading{
    text-align: center;
}
.form_heading h3{
    font-weight: 700;
    font-size: 22px;
    margin: 5px 0;
}

.form-control:focus{
    box-shadow: none;
}
.form_box a{
    font-size: 12px;
}
.form_box label{
    font-size: 14px;
}
.auth_btn{
    background: #F0F3FB;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #1E8182;
}

.form_heading_otp{
    text-align: left;
}
.form_heading_otp h4{
    font-weight: 400;
}
.otp_box .form-control{
    border-color: #3E6FB7;
}
.otp_box .btn_box{
    margin-top: 15px;
}
.terms{
    font-size: 10px;
    text-align: justify;
}
@media (min-width:0) and (max-width:575px){
    .form_box{
        width: 95%;
        top:30%;
    }
    .registration_box{
        top: 40%;
    }
}

@media (min-width:767.1px) and (max-width:991px){
    .form_box{
        width: 50%;
    }
    
}


@media (min-width:991.1px) and (max-width:1199px){
    
}